@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    .logo{
        display: none;
    }
    #side-nav{
        display: flex;
    }
    .project{
        flex: 0 0 280px;
    }
    .experience-detail-frontend, .experience-detail-backend, .experience-detail-tools{
        margin: auto;
    }
}
