*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth !important;
}

p{
    color:grey;
}

a,
.btn{
    transition: all 300ms ease;
}

/*desktop nav*/
nav, .nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}   

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color:black;
    text-decoration: none;
    text-decoration-color:white;
}

a:hover{
    color: grey;
    text-decoration: underline;
    text-decoration-color: rgb(181,181,181)
}
 
.logo{
    font-size: 2rem
}

.logo:hover{
    cursor: default;
}

/*Side menu*/
#side-nav{
    display: none;
}

.side-menu{
    position: relative;
    right: 45%;
    top: 0;
}

.menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.menu-icon span{
    width: 100%;
    height: 2px; 
    background-color: darkgrey;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: auto;
    background-color: transparent;
    width: fit-content;
    max-height: 0; 
    overflow: hidden; 
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: black;
    padding: 10px; 
    text-align: center;
    font-size: 1.5rem;
    color:black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.menu-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.menu-icon.open span:nth-child(2){
    opacity: 0;
}

.menu-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.menu-icon span:first-child{
    transform: none;
}

.menu-icon span:first-child{
    opacity: 1;
}

.menu-icon span:first-child{
    transform: none;
}

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 25rem;
    box-sizing: border-box;
    min-height: fit-content;
}


/*profile section */
#profile{
    display: flex;
    justify-content: center;
    gap: none;
    height: 80vh;
}

.profile_pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-left: -50px;
}

.profile_pic-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;

}

.profile-text{
    align-self: center;
    text-align: center;
}

.profile-text p{
    font-weight: 600;
}

.profile-text_p1{
    text-align: center;
}

.profile-text_p1{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    text-align: center;
}

#socials{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon{
    cursor: pointer;
    height: 2rem;
}

/*Button config*/
.btn-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    padding: 1em 2.5em;
    border: none;
    border-radius: 2em;
    transition: all .1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: inline-flex;
}

.btn:active {
    transform: scale(0.95);
}
.btn:hover{
    box-shadow: 0 0.6em 1.5em rgba(0, 0, 0, 0.15);
}

.btn::before {
    content: '';
    position: absolute;
    border: 0.15em solid transparent;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: calc(100% + .35em);
    height: calc(100% + .35em);
    transform: translate(-50%, -50%);
    border-radius: 2em;
}

button:hover::before {
    border-color:#8a0599;
    width: calc(100% + .5em);
    height: calc(100% + .5em);
}

.btn-color-1{
    background: linear-gradient(135deg, #d261ee 0%, #8926a4 100%);
    color: white;
}

.btn-color-1:hover::before{
    border-color: #ad43c9;
}

.btn-color-2{
    background: linear-gradient(135deg, #8926a4 0%, rgb(116, 1, 116) 100%);
    color: white;
}

.btn-color-2:hover::before{
    border-color: #7e138c;
}

/*About Section*/
#about{
    position: relative; 
    margin-left: 2.5rem;
}

.about-container{
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-container, .about-details-container{
    display: flex;
}

.about-pic{
    border-radius: 2rem;
    height: 300px;
    width: 300px;
}

.detail-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border:rgb(53, 53, 53) 0.1rem solid;
    border-color: grey;
    text-align: center;
}


